*{
  padding: 0;
  margin: 0;
}
form{
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}
form label{}
.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:10em;
}
form button, form input, form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}
.hospital.col-md-4{
  background-color: cadetblue;
}
.col-md-8{
  padding: 2em;
}
.btn button{
  width: 100%;
  background-color: cadetblue;
}
small{
  font-size: 16px;
}
