*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, sans-serif;
  background-color: white;
}
a.navbar-brand{
  background-color: white;

}
.bg-light {
    background-color: white !important;
}
div#navbarSupportedContent{
  width: 100%;

  background-color: #0c5460;
}
div#navbarSupportedContent li{
  padding: 10px;
}
div#navbarSupportedContent a.nav-link{
  color:white;
  padding: 10px;
}
.img-header img{
  max-width: 100%;
  width: 100%;
  height:700px;
}
.img-header .text-header{
  width: 100%;
}
.img-header .text-header div{
  position: absolute;
  top: 50%;
  left: 42%;
  font-size: 40px;
  font-weight: bold;
}
.footer{
  color: white;
  padding: 80px;
  background-color: #0c5460;
  width: 100%;
  height: auto;

}
.footer h4{

  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: orange;
}
/* about */
.team-member{
  text-align: center;
  padding-bottom: 60px;
}
.team-member h4{
  text-align: center;
  padding: 60px;
  font-weight: bold;
  font-size: 30px;
  color: #0c5460;
}
.team-member img{
  width: 200px;
  height: 200px;

  border-radius: 50%;
}
.team-member .member-info i{
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  background-color: #ededed;
  border-radius: 50%;
}
/* ----end------*/

/* group diary */
.group-diary{
  padding-bottom: 60px;
}
.group-diary h4{
  text-align: center;
  padding: 60px;
  font-weight: bold;
  font-size: 30px;
  color: #0c5460;
}
.group-tabs li{
  padding: 10px;

}
.group-tabs a{

}
.group-tabs a:hover{
  text-decoration: none;
}
.tab-content td{
  padding: 10px;
}
